@charset "UTF-8"; /* define a codificação do arquivo CSS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Mountains+of+Christmas:wght@400;700&family=Rubik+Doodle+Triangles&family=Satisfy&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); /* importa a fonte Bebas Neue do Google Fonts */

@font-face { /* importa a fonte personalizada Android */
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
 
/*
root: define variáveis globais de cores e fontes
*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Android", sans-serif;
}

* { /* reset de margens e paddings */
    margin: 0;
    padding: 0;
}

body { /* estilo do corpo da página */
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header { /* estilo do cabeçalho */
    background-color: var(--cor4);
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 { /* estilo do título principal */
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header p { /* estilo do subtítulo */
    color: white;
    font-family:  var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav { /* estilo da barra de navegação */
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a { /* estilo dos links da navegação */
    color: white;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.3s;
}

nav > a:hover { /* estilo dos links da navegação ao passar o mouse */
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    color: var(--cor5);
    border-radius: 5px;
}

main { /* estilo do conteúdo principal */
    background-color: white;
    min-width: 150px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

main p { /* estilo dos parágrafos */
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong { /* estilo do texto em negrito */
    color: var(--cor4);
    font-weight: bold;
}

main a { /* estilo dos links do conteúdo principal*/
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    text-decoration: none;
    padding: 2px 6px;
}

main a:hover { /* estilo dos links do conteúdo principal ao passar o mouse */
    text-decoration: underline;
    color: var(--cor4);
}

main img { /* estilo das imagens */
    width: 100%;
    height: auto;
}

main img.pequena { /* estilo das imagens pequenas */
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 { /* estilo dos títulos principais */
    color: var(--cor5);
    font-family: var(--fonte-android);
}


main h2 { /* estilo dos títulos secundários */
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent); /* efeito de destaque com gradiente */
}

div.video { /* estilo do container de vídeo */
    background-color: var(--cor5);
    margin: 0px -20px 30px; /* remove a margem para que o vídeo fique colado nas bordas do conteúdo principal */
    padding: 20px;
    padding-bottom: 58%; /* mantém a proporção do vídeo 16:9 */
    position: relative; /* necessário para posicionar o iframe do vídeo */
}

div.video > iframe { /* estilo do vídeo */
    top: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
}

aside { /* estilo da caixa lateral */
    background-color: var(--cor1);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

aside h3 { /* estilo do título da caixa lateral */
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /* remove a margem para que o título fique colado nas bordas da caixa lateral */
    border-radius: 10px 10px 0 0;
}

aside > ul { /* estilo da lista dentro da caixa lateral */
    list-style-type: none; /* remove os marcadores da lista */
    columns: 2; /* divide a lista em 2 colunas */
    padding-left: 20px;
}

footer { /* estilo do rodapé */
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a { /* estilo dos links do rodapé */
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover { /* estilo dos links do rodapé ao passar o mouse */
    text-decoration: underline;
    color: var(--cor1);
}